<div class="row">
    <div class="col s12 m8">
        <h3>{{chronicle.title}}
            <small>{{{editIcon chronicle.user user chronicle._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{chronicle.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{chronicle.user.displayName}}</span>
                <img src="{{chronicle.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{chronicle.user._id}}">More From {{chronicle.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>